@import '@mdi/font/css/materialdesignicons.min.css';
*{
  font-family: 'Noto Sans TC';
}

.ProposalContent{
  img{
    width:100%;
    max-width: 100%
  }
  figure{
    width:100%;
    max-width: 100%
  }
}