@import '@mdi/font/css/materialdesignicons.min.css';
*{
  font-family: 'Noto Sans TC';
}

.ProposalContent{
  img{
    width:100% !important;
    max-width: 100%;
  }
  figure{
    width:100% !important;
    max-width: 100%;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}

/* Custom Swiper styles */
.swiper-button-disabled {
  @apply opacity-30 cursor-default pointer-events-none;
}